.login-box {
  /*  position: absolute; */
  top: 13%;
  bottom: 13%;
  left: 24%;
  right: 24%;
  width: 52%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 17%);
  z-index: 1011;
  background-image: url(https://a10.gaanacdn.com/images/gaanawebsite/loginbgv3.jpg);
  position: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: box-shadow 0.2s ease;
  vertical-align: super;
}
.overlay {
  background: rgba(0, 0, 0, 0.8);
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  display: block;
  opacity: 1 !important;
}
.times-icon {
  padding-right: 35px;
  font-size: 30px;
  font-weight: 200;
  fill: rgb(189, 185, 185);
  cursor: pointer;
}
.times-icon:hover {
  fill: grey;
}
.second-row {
  font-family: "proximanova-regular-webfont", arial;
  font-weight: 600;
  font-size: 18px;
  color: rgba(29, 29, 29, 0.9);
  letter-spacing: 0.5px;
}
.second-para {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  letter-spacing: 0.5px;
}
.icon-heading {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.4px;
}
.bottom-b {
  border-bottom: 2px solid rgba(201, 199, 199, 0.5);
}
.number-button {
  width: 100%;
  font-weight: 500;
  border-radius: 35px;
  background-color: #e72c30;
  color: #fff;
}
.social-media {
  color: rgb(85, 85, 85);
  font-size: 13px;
}
