.fill_path,
.orange {
  fill: #e72c30;
  opacity: 1 !important;
}
.cursor-pointer {
  cursor: pointer;
}
.logo {
  width: 110px;
  padding-left: 15px;
}
.fw-400 {
  font-weight: 500;
  font-size: 14px;
  margin: 8px;
  opacity: 0.9;
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0px;
}
.fw-400:hover {
  color: rgb(204, 12, 12);
}
.bg-red {
  color: rgb(204, 12, 12);
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
small {
  position: relative;
  font-size: 9px;
  padding: 2px 5px;
  border-radius: 25px;
  top: -17px;
  right: -5;
  margin-left: -25px;
  letter-spacing: 1px;
  background-color: #e72c30;
  color: white;
  font-family: "proximanova-semibold-webfont";
}
.ad-free {
  border-radius: 35px;
  font-size: 13px;
}
.l-div {
  border-left: 1px solid rgb(212, 212, 212);
}
.modeswitch {
  position: absolute;
  top: 0;
  z-index: 999;
  cursor: pointer;
  opacity: -1;
  width: 100%;
  height: 100%;
  left: 0;
}
.night-mode {
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.4);
}
.login {
  padding: 0 1px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-left: 0px;
  color: #e72c30;
}
.bg-grey {
  background: rgba(0, 0, 0, 0.15);
}
.home {
  margin-top: 60px;
}
.search {
  border: none;
  background-color: #efefef;
  width: 400px;
  font-size: 14px;
  opacity: 0.5;
  letter-spacing: -0.2px;
}
.search:focus {
  outline: none;
}
.second-navbar {
  border-radius: 55px;
  background-color: #efefef;
}
.search-btn {
  background-color: #e72c30;
  color: #fff;
  border-radius: 55px;
  font-size: 14px;
  font-weight: 500;
}
.trending {
  color: #e72c30;
  border-radius: 45px;
  background-color: #efefef;
  font-size: 14px;
}
.download-app {
  font-size: 14px;
  letter-spacing: 0.5px;
}
.android {
  color: #333;
  cursor: pointer;
}
.android:hover {
  color: rgba(0, 0, 0, 0.4);
}
.home-bg {
  background: #efefef;
}
.top-picks-label {
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 600;
  font-family: arial;
}
.charts-img {
  width: 340px;
  height: 200px;
  border-radius: 5px;
  transition-delay: 5s;
  transition-duration: 10s;
}
.singleleftslide {
  left: -30px;
}
.removehover1 {
  opacity: 0.3 !important;
  cursor: default !important;
}

.singleleftslide {
  height: 53px;
  width: 53px;
  position: absolute;
  display: block;
  z-index: 6;
  margin-left: 95px;
  margin-top: 68px;
  cursor: pointer;
}
.leftSlide {
  opacity: 1;
  fill: #fff;
}
.black {
  fill: rgba(0, 0, 0, 0.6);
}
.singlerightslide {
  right: -30px;
}

.singlerightslide {
  display: block;
  width: 53px;
  height: 53px;
  position: absolute;
  right: 27%;
  top: 265px;
  bottom: 0px;
  z-index: 6;
  cursor: pointer;
}
.singlerightslide {
  width: 50px;
  height: 50px;
  opacity: 1;
}
.playIcon {
  opacity: 1;
  cursor: pointer;
}
.hover-icon {
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  display: inline-block;
  padding: 15px;
  padding-left: 21px;
  position: relative;
  top: -140px;
  overflow: hidden;
  left: 130px;
  bottom: -28px;
  background-size: cover;
  background-position: 100% 100%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.bg-border {
  background-color: rgb(221, 219, 219);
}
.b-active {
  height: 3px;
  width: 20%;
  opacity: 0.3;
}
.singleleftslide4 {
  left: -30px;
}
.singleleftslide4 {
  height: 53px;
  width: 53px;
  position: absolute;
  display: block;
  z-index: 6;
  margin-left: 95px;
  margin-top: -128px;
  cursor: pointer;
}
.view-label {
  font-size: 80%;
  text-align: right;
  letter-spacing: 1.3px;
  text-transform: initial;
  font-weight: 500;
  color: #e72c30;
  padding-right: 40px;
}
.songs-img {
  height: 140px;
  width: 130px;
  border-radius: 5px;
}
.trending-song-slide {
  fill: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.singlerightslideChevron {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 350px;
  top: 560px;
  z-index: 6;
  opacity: 0.7;
}
.hover-icon-trending {
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
  padding-left: 16px;
  position: absolute;
  bottom: 48px;
  overflow: hidden;
  left: 55px;
  background-size: cover;
  background-position: 100% 100%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.chevron-left {
  margin-top: -15px;
}
.top-charts-rightslide {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 7px;
  top: 54px;
  z-index: 6;
  opacity: 0.7;
}
/* .play-music {
  position: fixed;
  bottom: 0px;
  background-position: cover;
  background-color: #fff;
} */
/* .song-detail {
  height: 50px;
} */
.song-detail,
.song-play {
  position: fixed;
  bottom: 0px;
  background-position: cover;
  background-color: #fff;
  z-index: 6;
}
.song-play {
  left: 335px;
}
.song-detail-img {
  height: 40px;
  width: 40px;
}
.bold-name {
  font-size: 13px;
  font-weight: 500;
  position: relative;
}
.light-name {
  font-size: 11px;
  position: absolute;
  top: 30px;
}
.song-fav,
.song-info {
  font-size: 17px;
  margin-top: 10px;
  margin-left: 5px;
}
#seekbar {
  height: 3px;
  border-radius: 0px;
  opacity: 0.5;
  top: 0px;
  left: 100px;
  width: 100%;
  opacity: 1;
  cursor: pointer;
}
.progress-bar {
  position: relative;
  top: 0px;
  border: none;
  left: 0px;
  background-color: red;
}
progress::-webkit-progress-bar {
  background-color: rgba(248, 228, 228, 0.842);
}

progress::-webkit-progress-value {
  background-color: rgb(243, 80, 74);
}
.play-button {
  font-size: 32px;
  color: #e72c30;
  position: relative;
  top: 1px;
}
.prev-track,
.next-track {
  font-size: 15px;
  position: relative;
  bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(66, 66, 66);
}
.song-time {
  position: relative;
  top: 11px;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgb(10, 10, 10);
}
.volume-button {
  position: relative;
  top: 7px;
  font-size: 20px;
  left: 15px;
  color: rgb(190, 185, 185);
}
.volume-button:hover {
  color: rgb(153, 148, 148);
}
.shuffle-icon:hover,
.repeat-icon:hover {
  fill: rgb(153, 148, 148);
}
.shuffle-icon,
.repeat-icon {
  position: relative;
  left: 30px;
  top: 4px;
  fill: rgb(190, 185, 185);
}
.repeat-icon {
  left: 45px;
}
.right-border {
  position: relative;
  bottom: 0px;
  border-left: 1px solid rgb(206, 203, 203);
  margin-top: 4px;
  margin-bottom: 2px;
}
.quality-button {
  position: relative;
  border-radius: 35px;
  top: 10px;
  font-size: 11px;
  color: rgb(153, 148, 148);
}
.quality-button:hover {
  color: rgb(78, 78, 78);
}
.autoplay {
  position: relative;
  font-size: 12px;
  top: 10px;
  left: 0px;
  margin-right: 10px;
  color: rgb(153, 148, 148);
  letter-spacing: 0.8px;
}
.aq-tooltip {
  color: rgba(0, 0, 0, 0.5);
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.aq-tooltip {
  display: block;
  position: absolute;
  z-index: 1000;
  bottom: 68px;
  left: 45%;
  text-align: center;
  width: 244px;
  padding: 12px 15px 18px;
  font-size: 11px;
  line-height: 1.33;
  border-radius: 2px 2px 2px 2px;
}
.quality-box {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 1000;
  bottom: 48px;
  left: 37%;
  text-align: center;
  width: 155px;
  font-size: 12px;
  text-align: left;
  line-height: 1;
  letter-spacing: 0.4px;
  border-radius: 5px;
}
.quality-hover {
  transition: 1s;
  background-color: rgb(236, 235, 235);
  color: rgba(0, 0, 0);
}
.quality-icon {
  color: #e72c30;
  text-align: right;
  font-size: 17px;
}
.quality-color {
  background-color: rgb(247, 241, 241);
  color: black;
}
.song-additional-info {
  color: rgba(0, 0, 0, 0.5);
  padding: 15px 1px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: -0.2px;
  display: block;
  cursor: pointer;
}
.icon-color {
  fill: rgba(0, 0, 0, 0.5);
}
.padding-song-info {
  padding-top: 10px;
  padding-bottom: 10px;
}
.hover-info {
  transition-duration: 1s;
  background-color: #d8d8d8;
  color: #333;
}
